<!-- ./src/app/listado-productos/listado-productos.html -->

<h1 class="title">Catálogo de productos</h1>

<!-- 
    Este bloque se mostrará solo si nuestro array 'productos' está vacío
-->
<div *ngIf="productos.length === 0" class="mensaje-vacio">
    <p>¡Ups! Parece que no nos quedan instrumentos en stock.</p>
</div>

<div class="wrapper">

    <div class="productos-container">
        
        <div 
            *ngFor="let prod of productos" 
            class="tarjeta"
            [ngClass]="{'sin-stock': prod.stock === 0}"
        >
            <div class="tarjeta-imagen">
                <img
                    [src]="prod.imagen || 'assets/images/producto-placeholder.png'"
                    [alt]="prod.nombre"
                    onerror="this.src='././assets/images/producto-placeholder.png'"
                >
            </div>

            <div class="info">
                <span class="categoria">{{ prod.categoria || 'Sin categoría' }}</span>
                <h3 class="nombre">{{ prod.nombre }}</h3>
                <p class="precio">{{ prod.precio | number: '1.2-2' }} €</p>
                <span class="stock">Stock: {{ prod.stock }}</span>
            </div>

            <!-- Botón de añadir al carrito -->
            <button 
                class="btn-add" 
                [disabled]="prod.stock <= 0"
                (click)="onAddToCart(prod)"
            >
                {{ prod.stock <= 0 ? 'Agotado' : 'Añadir al carrito' }}
            </button>
        </div>
    </div>
</div>